.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.requiredField {
  font-size: 10px;
  font-weight: 600;
  color: #969696;
  margin-left: 5px;
}

.label {
  display: flex;
  align-items: center;
}

.input {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 3px;
}

.input:focus {
  outline: 2px solid var(--accent);
}