.wrapContainer {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--bg);
  padding: 3rem 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.title {
  margin: 7px 0;
  font-style: italic;
}

.text {
  margin: 5px 0;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.button {
  background-color: var(--bg);
  padding: 0;
  display: grid;
  place-items: center;
  border: none;
}