* {
  box-sizing: border-box;
}

body.light {
  --bg: #eeeeee;
  --bg-box: #dfdfdf;
  --text: #272121;
  --text-accent: #A8491D;
  --accent: #ff7f35;
  --accent-hover: #ff9050;
  transition: background-color 0.3s linear,
  color 0.3s linear;
}

body {
  --bg: #0e0d0c;
  --bg-box: #181615;
  --text: #eeeeee;
  --text-accent: #ff9455;
  --accent: #A8491D;
  --accent-hover: #af5c2b;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: background-color 0.3s linear,
  color 0.3s linear;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 100vw;
}

button {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 7px;
  color: var(--text);
  cursor: pointer;
  padding: 5px 15px;
}

button:hover {
  background-color: var(--accent-hover);
}

@media (prefers-color-scheme: light) {
  body {
    --bg: #eeeeee;
    --bg-box: #dfdfdf;
    --text: #272121;
    --accent: #B55021;
    --accent-light: #ff9455;
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s linear,
    color 0.3s linear;
  }
  body.dark {
    --bg: #0e0d0c;
    --bg-box: #181615;
    --text: #eeeeee;
    --accent: #A8491D;
    --accent-light: #f17832;
    transition: background-color 0.3s linear,
    color 0.3s linear;
  }
}